/***** GENERAL *****/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}
 
/***** NAV BAR *****/

nav {
    margin: 20px;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline;
    padding: 7px;
}

.account {
    float: right;
}

li .sign-in {
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    background-color:  #4285f4;
    border: 1px solid #4285f4;
}

/***** MAIN *****/

main {
    text-align: center;
    margin-top: 160px;
}

main img {
    padding-bottom: 20px;
}

input {
    margin: 0 auto;
    width: 450px;
    height: 45px;
    display: block;
    border: solid 1px lightgrey;
    border-radius: 30px;
    font-size: 16px;
}

input::placeholder {
    padding-left: 20px;
    color: lightgrey;
}